<div>



  <div #keyboardContainer class="keyboard">
    <div class="section left">
      <div class=" "></div>
      <div class=" "></div>
      <!-- <div class="key"><span>~</span><span>`</span></div> -->
      <div class="key" id="one">1</div>
      <div class="key" id="two">2</div>
      <div class="key" id="three">3</div>
      <div class="key" id="four">4</div>
      <div class="key"id="five">5</div>
      <div class="key"id="six">6</div>
      <div class="key"id="seven">7</div>
      <div class="key"id="eight">8</div>
      <div class="key"id="nine">9</div>
      <div class="key"id="zero">0</div>
      <div class="key"id="minus">-</div>
      <div class="key"id="plus">=</div>
      <div class="key backspace" id="Backspace">Backspace</div>
      <div class=" tab"></div>
      <div class="key" id="q">Q</div>
      <div class="key" id="w">W</div>
      <div class="key" id="e">E</div>
      <div class="key" id="r">R</div>
      <div class="key" id="t">T</div>
      <div class="key" id="y">Y</div>
      <div class="key" id="u">U</div>
      <div class="key" id="i">I</div>
      <div class="key" id="o">O</div>
      <div class="key" id="p">P</div>
      <div class="key" id="open-bracket">[</div>
      <div class="key" id="close-bracket">]</div>
      <div class="key backslash" id="backslash">\</div>

      <div class=" capslock"></div>
      <div class="key" id="a">A</div>
      <div class="key" id="s">S</div>
      <div class="key" id="d">D</div>
      <div class="key" id="f">F</div>
      <div class="key" id="g">G</div>
      <div class="key" id="h">H</div>
      <div class="key" id="j">J</div>
      <div class="key" id="k">K</div>
      <div class="key" id="l">L</div>
      <div class="key" id="semicolon">;</div>
      <div class="key" id="aopstrophe">'</div>
      <div class="key enter" id="Enter">Enter</div>
      <div class=" leftshift"></div>
      <div class="key" id="z">Z</div>
      <div class="key" id="x">X</div>
      <div class="key" id="c">C</div>
      <div class="key" id="v">V</div>
      <div class="key" id="b">B</div>
      <div class="key" id="n">N</div>
      <div class="key" id="m">M</div>
      <div class="key" id="comma">,</div>
      <div class="key" id="dot">.</div>
      <div class="key" id="qmark">/</div>
      <div class=" rightshift"></div>
      <div class=" leftctrl"></div>
      <div class=""></div>
      <div class="key space" id="space">Space</div>
      <div class=""></div>
      <div class=" rightctrl"></div>
    </div>
  </div>
</div>
